.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.date-picker-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.date-picker {
  // compensate for the margin-bottom of mat-hint
  margin-bottom: -24px;
}

.add-chart-button {
  width: fit-content;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

::ng-deep .mat-badge.hide-text .mat-badge-content {
  color: transparent;
}
